{% extends 'base.html' %}

{% block title %}

 About

{% endblock %}

{% block content %}
<div class="container text-center">
<h1>About Page</h1>
<p>A Premier 300 Bedded Multi Super-speciality Tertiary Care City Hospital<br>
    down town hospital has been providing Premier Medical Care not only to the <br>
    people of the North East but also to the neighbouring countries like Bhutan, Nepal, Bangladesh<br>
    and Myanmar. The hospital is also targeting other South Asian countries like Cambodia, Laos and Vietnam.<br> 
    down town hospital is the first Multispecialty Corporate hospital in the North East.<br> 
    Commissioned on the 15th of February 1989, the hospital has completed 31 years of dedicated 
    Healthcare Service.</p>

</div> 
{% endblock %}